body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Helvetica Neue, sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 60px;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 30px; 
    opacity: 0.8;
    transition: opacity 0.3s;
}

li:hover {
    opacity: 1;
}
